#single_container
  #single_container_top
  #single_container_center
    %h2
      Forums
      %span
        %a{:href => path_for(:new_board)} (Add new root board)
        
    %form#contentSearch.search{:method => "get", :action => ""}
      %p.fields
        %input#s2{:type => "text", :value => "Search Forum", :name => "s2", :onfocus => "if (this.value == 'Search Forum') {this.value = '';}", :onblur => "if (this.value == '') {this.value = 'Search Forum';}"}
        %button.go_button{:type => "submit", :name => "submit"} GO
    
    #article_white
      - @boards.each do |board|
        .article_white_container
          .article_white_top
          .article_white_center
            %h3
              = board.title
              %span
                %a{:href => path_for(:new_board, board)} (Add new sub-board)
              - if board.allow_topics?
                .board_controls
                  %a.messageReply_Masterbutton{:href => path_for(:new_topic, board)} New Topic
            - unless board.boards.empty?
              .board_container
                %table.boardtb{:id => "board-#{board.slug}", :width => "100%", :cellspacing => "0"}
                  %thead
                    %tr
                      %th
                      %th Forum
                      %th Posts/Topics
                      %th Last Post
                  %tbody
                    - board.boards.each do |board|
                      %tr
                        %td.boardIcon
                          %img{:src => "/images/board_newpost_false.jpg", :alt => "No New Posts"}
                        %td.boardTitle
                          %p.boarddesc
                            %a.boardLink{:href => "/boards/#{board.ancestory_path}"}= board.title
                          %p.boarddesc= board.description
                        %td.boardPosts
                          %p.boarddesc
                            %strong= "#{board.posts_count} Posts"
                          %p.boarddesc= "#{board.topics_count} Topics"
                        %td.boardLastPost
                          %p.boarddesc
                            %a.boardLink{:href => "#"} LG Community Rules
                          %p.boarddesc.byPost by LG Product Pro 06-18-2009 17:01

              - unless board.topics.empty?
                .board_container
                  %table.boardtb{:width => "100%", :cellspacing => "0"}
                    %thead
                      %tr
                        %th
                        %th Topic
                        %th Posts
                        %th Last Post
                    %tbody
                      - board.topics.each do |topic|
                        %tr
                          %td.boardIcon
                            %img{:src => "/images/board_newpost_false.jpg", :alt => "No New Posts"}
                          %td.boardTitle
                            %a.boardLink{:href => path_for(:topic, topic)}= topic.title
                          %td.boardPosts
                            %p.boarddesc= "#{topic.posts_count} Posts"
                          %td.boardLastPost
                            %p.boarddesc
                              %a.boardLink{:href => "#"} LG Community Rules
                            %p.boarddesc.byPost by LG Product Pro 06-18-2009 17:01

            .clear
          .article_white_bottom
    
    #aside_white
      .aside_white_top
      .aside_white_center
        %h3 User Account
        %ul
          %li
            %a{:href => "#"} Private Messages (1)
          %li
            %a{:href => "#"} View Your Posts
          %li
            %a{:href => "#"} Active Threads
          %ul
            %li
              %a{:href => "#"} Will there be a update...
            %li
              %a{:href => "#"} Will there be a update...
            %li
              %a{:href => "#"} Will there be a update...
            %li
              %a{:href => "#"} Will there be a update...

        #tagcloud
          %span.tagcloud1
            %a{:href => "#"} LG Shine
          %span.tagcloud3
            %a{:href => "#"} Cellular
          %span.tagcloud2
            %a{:href => "#"} Navigation
          %span.tagcloud4
            %a{:href => "#"} Tritan
          %span.tagcloud1
            %a{:href => "#"} LG Dare
          %span.tagcloud1
            %a{:href => "#"} Signal
          %span.tagcloud3
            %a{:href => "#"} EnV Touch
          %span.tagcloud1
            %a{:href => "#"} Texting
          %span.tagcloud3
            %a{:href => "#"} Bluetooth
          %span.tagcloud2
            %a{:href => "#"} Fame
          %span.tagcloud1
            %a{:href => "#"} Customers
          %span.tagcloud4
            %a{:href => "#"} Registration
          %span.tagcloud7
            %a{:href => "#"} File
          %span.tagcloud3
            %a{:href => "#"} Library
          %span.tagcloud1
            %a{:href => "#"} Partners
          %span.tagcloud8
            %a{:href => "#"} LG Xenon
          %span.tagcloud1
            %a{:href => "#"} Widgets
          %span.tagcloud1
            %a{:href => "#"} AutoDesk
          %span.tagcloud7
            %a{:href => "#"} Twitter
          %span.tagcloud1
            %a{:href => "#"} Music
          %span.tagcloud1
            %a{:href => "#"} LG Shine
          %span.tagcloud6
            %a{:href => "#"} Cellular
          %span.tagcloud1
            %a{:href => "#"} Navigation
          %span.tagcloud1
            %a{:href => "#"} Tritan
          %span.tagcloud1
            %a{:href => "#"} LG Dare
          %span.tagcloud1
            %a{:href => "#"} Signal
          %span.tagcloud1
            %a{:href => "#"} EnV Touch
          %span.tagcloud6
            %a{:href => "#"} Texting
          %span.tagcloud5
            %a{:href => "#"} Bluetooth
          %span.tagcloud1
            %a{:href => "#"} Fame
          %span.tagcloud3
            %a{:href => "#"} Customers Registration
          %span.tagcloud1
            %a{:href => "#"} File
          %span.tagcloud1
            %a{:href => "#"} Library
          %span.tagcloud1
            %a{:href => "#"} Partners
          %span.tagcloud1
            %a{:href => "#"} LG Xenon
          %span.tagcloud1
            %a{:href => "#"} Widgets
          %span.tagcloud4
            %a{:href => "#"} AutoDesk
          %span.tagcloud1
            %a{:href => "#"} Twitter
          %span.tagcloud1
            %a{:href => "#"} Music

        .class

      .aside_white_bottom
        
    .clear
    
  #single_container_bottom
