%h1= @board.title

- if @board.allow_topics?
  %a{:href => path_for(:new_topic, @board)} New Topic

- unless @board.boards.empty?
  %table
    %thead
      %tr
        %th Board
        %th Topics
        %th Posts
        %th Last Post
    %tbody
      - @board.boards.each do |board|
        %tr
          %td
            %a{:href => path_for(:board, board)}= board.title
            %p= board.description
          %td= "#{board.posts_count} Posts"
          %td= "#{board.topics_count} Topics"
          %td
            - if board.last_post
              %a{:href => path_for(:post, board.last_post)}= board.last_post.topic.title
              %p= board.last_post.message
              %p= "by #{board.last_author_name} on #{board.last_updated_at}"

- unless @board.topics.empty?
  %table
    %thead
      %tr
        %th Topic
        %th Replies
        %th Last Post
    %tbody
      - @board.topics.each do |topic|
        %tr
          %td
            %a{:href => path_for(:topic, topic)}= topic.title
          %td= "#{topic.posts_count - 1} Replies"
          %td
            %a{:href => path_for(:post, topic.last_post)}= topic.title
            %p= topic.last_post.message
            %p= "by #{topic.last_author_name} on #{topic.last_updated_at}"
