#single_container
  #single_container_top
  #single_container_center
    %h2 Forums
    %p.breadCrumb= breadcrumbs(@board)

    %form#contentSearch.search{:method => "get", :action => ""}
      %p.fields
        %input#s2{:type => "text", :value => "Search Forum", :name => "s2", :onfocus => "if (this.value == 'Search Forum') {this.value = '';}", :onblur => "if (this.value == '') {this.value = 'Search Forum';}"}
        %button.go_button{:type => "submit", :name => "submit"} GO

    #article_wide
      .article_wide_top
      .article_wide_center
        %h3= "Create New Topic Under #{@board.title}"
        - form_for(@topic, path_for(:topics, @board)) do |f|
          .board_container
            = f.error_messages
            %table.boardtb_post{:width => "100%", :cellspacing => "0"}
              %tr.messageHeader
                %td{:colspan => 2}
              %tr
                %td.messageDef{:valign => "top"}
                  %p.bold= f.label :title, :caption => "Subject:"
                %td.newMessage{:valign => "top"}
                  = f.text_field :title
              %tr
                %td.messageDef{:valign => "top"}
                  %p.bold= f.label :message, :caption => "Message:"
                %td.newMessage{:valign => "top"}
                  = f.text_area :message
            
          .board_controls
            %a.messageReply_Masterbutton{:href => path_for(:board, @parent)} Cancel
            %input.messageReply_Masterbutton{:type => 'submit', :value => 'Post Topic'}

        .clear

      .article_wide_bottom
              
    .clear

  #single_container_bottom
