- form_for(@topic, path_for(:topics, @board)) do |f|
  = f.error_messages

  = f.label :title, :caption => "Subject:"
  = f.text_field :title

  = f.label :message, :caption => "Message:"
  = f.text_area :message

  = f.submit 'Post Topic'
