%h1= @topic.title

= breadcrumbs(@topic)

%a{:href => path_for(:new_topic, @topic.board)} New Topic
%a{:href => path_for(:new_post, @topic)} Post Reply

%table
  %thead
    %tr
      %th Date
      %th Author
      %th Message
      %th Reply
      %th Quote
  %tbody
    - @topic.posts.each do |post|
      %tr
      %tr
        %td= post.created_at
        %td= post.user_name
        %td= post.message
        %td
          %a{:href => path_for(:new_post, @topic, post)} Reply
        %td
          %a{:href => path_for(:new_post, @topic, post, {:query => {"quoted" => "true"}})} Quote
