- form_for(@topic, url_for(:topics, :forum => @forum.slug)) do |f|
  = f.error_messages
  = f.hidden_field :forum_id
  = f.label :title
  = f.text_field :title
  = f.label :message
  = f.text_area :message
  
  = f.submit "Submit"